{
  "parserOptions": {
    "ecmaFeatures": {
      "//": "this setting is deprecated, but node8 doesn't fully support ecma2018 so using it anyway",
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["jest"],
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "block-scoped-var": "error",
    "brace-style": "error",
    "camelcase": "warn",
    "comma-dangle": ["warn", "always-multiline"],
    "computed-property-spacing": ["error", "never"],
    "curly": "error",
    "eol-last": "warn",
    "eqeqeq": ["error", "smart"],
    "guard-for-in": "warn",
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "max-depth": ["error", 5],
    "max-len": ["error", 120],
    "max-statements": ["error", 30],
    "new-cap": "off",
    "no-caller": "error",
    "no-debugger": "error",
    "no-else-return": "error",
    "no-extend-native": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": "error",
    "no-redeclare": "error",
    "no-undef": "error",
    "no-unused-vars": ["error", {"argsIgnorePattern": "next"}],
    "no-use-before-define": ["error", "nofunc"],
    "object-curly-spacing": ["error", "always"],
    "object-shorthand": ["warn", "always"],
    "prefer-arrow-callback": "warn",
    "prefer-const": "error",
    "quotes": ["warn", "single", "avoid-escape"],
    "semi": ["error", "always"],
    "space-before-blocks": "warn",
    "space-before-function-paren": [
      "warn",
      {
        "anonymous": "ignore",
        "named": "never"
      }
    ],
    "space-unary-ops": "warn",
    "spaced-comment": "warn"
  }
}
